In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
PATH = 'Data/raw_districtwise_yield_data.csv'
df = pd.read_csv(PATH)

In [39]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [40]:
df.shape

(246091, 7)

In [51]:
print(df['State_Name'].unique())

print("\nTotal number of unique fields in State_Name: {}".format(df['State_Name'].nunique()))
print("\nTotal number of unique fields in District_Name: {}".format(df['District_Name'].nunique()))

print("\nTotal number of unique fields in Season: {}".format(df['Season'].nunique()))
print("\nTotal number of unique fields in Crop: {}".format(df['Crop'].nunique()))

['Andaman and Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra and Nagar Haveli'
 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir '
 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur'
 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha' 'Puducherry' 'Punjab'
 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana ' 'Tripura' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal']

Total number of unique fields in State_Name: 33

Total number of unique fields in District_Name: 646

Total number of unique fields in Season: 6

Total number of unique fields in Crop: 124

In [42]:
# print(df['District_Name'].unique())
print(df['District_Name'].nunique())

646