In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
PATH = '../Data_final/Maharashtra.csv'
df_raw = pd.read_csv(PATH)

In [75]:
df_raw.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Maharashtra,AHMEDNAGAR,1997.0,Kharif,Arhar/Tur,17600.0,6300.0
2,Maharashtra,AHMEDNAGAR,1997.0,Kharif,Bajra,274100.0,152800.0
3,Maharashtra,AHMEDNAGAR,1997.0,Kharif,Gram,40800.0,18600.0
4,Maharashtra,AHMEDNAGAR,1997.0,Kharif,Jowar,900.0,1100.0

In [76]:
df_raw.drop(['State_Name'], axis=1, inplace=True)

In [77]:
df_raw.head()

  District_Name  Crop_Year       Season       Crop      Area  Production
0           NaN        NaN          NaN        NaN       NaN         NaN
1    AHMEDNAGAR     1997.0  Kharif       Arhar/Tur   17600.0      6300.0
2    AHMEDNAGAR     1997.0  Kharif           Bajra  274100.0    152800.0
3    AHMEDNAGAR     1997.0  Kharif            Gram   40800.0     18600.0
4    AHMEDNAGAR     1997.0  Kharif           Jowar     900.0      1100.0

In [78]:
print("Unique crops: ",df_raw['Crop'].unique())
print("\nNumber of unique crops: ", df_raw['Crop'].nunique())

Unique crops:  [nan 'Arhar/Tur' 'Bajra' 'Gram' 'Jowar' 'Maize' 'Moong(Green Gram)'
 'Pulses total' 'Ragi' 'Rice' 'Sugarcane' 'Total foodgrain' 'Urad'
 'Other  Rabi pulses' 'Wheat' 'Cotton(lint)' 'Castor seed' 'Groundnut'
 'Niger seed' 'Other Cereals & Millets' 'Other Kharif pulses' 'Sesamum'
 'Soyabean' 'Sunflower' 'Linseed' 'Rapeseed &Mustard' 'Safflower'
 'Small millets' 'other oilseeds' 'Banana' 'Grapes' 'Mango' 'Onion'
 'Tomato' 'Tobacco']

Number of unique crops:  34

In [79]:
df_raw['Crop'].value_counts()

Maize                      1049
Sunflower                   960
Jowar                       875
Groundnut                   869
Sesamum                     673
Rice                        654
Moong(Green Gram)           573
Arhar/Tur                   570
Urad                        550
Gram                        548
Wheat                       518
Soyabean                    477
Cotton(lint)                465
Sugarcane                   456
Bajra                       386
Rapeseed &Mustard           367
Other Kharif pulses         342
Safflower                   339
Niger seed                  323
Other  Rabi pulses          306
Castor seed                 296
Linseed                     281
Small millets               210
Ragi                        206
Other Cereals & Millets      86
other oilseeds               43
Mango                        31
Tomato                       30
Pulses total                 29
Total foodgrain              29
Banana                       28
Onion                        26
Grapes                       24
Tobacco                       2
Name: Crop, dtype: int64

In [80]:
crops_to_remove = ['Other Cereals & Millets','other oilseeds','Mango','Tomato','Pulses total','Total foodgrain'
                   ,'Banana','Onion','Grapes','Tobacco']
df_raw = pd.DataFrame(df_raw.loc[~df_raw['Crop'].isin(crops_to_remove)])

In [81]:
df_raw.Crop.value_counts()

Maize                  1049
Sunflower               960
Jowar                   875
Groundnut               869
Sesamum                 673
Rice                    654
Moong(Green Gram)       573
Arhar/Tur               570
Urad                    550
Gram                    548
Wheat                   518
Soyabean                477
Cotton(lint)            465
Sugarcane               456
Bajra                   386
Rapeseed &Mustard       367
Other Kharif pulses     342
Safflower               339
Niger seed              323
Other  Rabi pulses      306
Castor seed             296
Linseed                 281
Small millets           210
Ragi                    206
Name: Crop, dtype: int64

In [82]:
df_raw['Season'].value_counts()

Kharif         7119
Rabi           3792
Summer         1011
Whole Year      371
Name: Season, dtype: int64

In [83]:
df_raw = df_raw.dropna(how = 'all')

In [84]:
df_raw.isnull().sum()

District_Name      0
Crop_Year          0
Season             0
Crop               0
Area               0
Production       123
dtype: int64

In [85]:
# Remove extra spaces in Season
df_raw['Season'] = df_raw['Season'].str.strip()

In [86]:
df_raw.head()

  District_Name  Crop_Year  Season       Crop      Area  Production
1    AHMEDNAGAR     1997.0  Kharif  Arhar/Tur   17600.0      6300.0
2    AHMEDNAGAR     1997.0  Kharif      Bajra  274100.0    152800.0
3    AHMEDNAGAR     1997.0  Kharif       Gram   40800.0     18600.0
4    AHMEDNAGAR     1997.0  Kharif      Jowar     900.0      1100.0
5    AHMEDNAGAR     1997.0  Kharif      Maize    4400.0      4700.0

### Getting frequency of crops

In [87]:
df_raw['Crop'].value_counts()

Maize                  1049
Sunflower               960
Jowar                   875
Groundnut               869
Sesamum                 673
Rice                    654
Moong(Green Gram)       573
Arhar/Tur               570
Urad                    550
Gram                    548
Wheat                   518
Soyabean                477
Cotton(lint)            465
Sugarcane               456
Bajra                   386
Rapeseed &Mustard       367
Other Kharif pulses     342
Safflower               339
Niger seed              323
Other  Rabi pulses      306
Castor seed             296
Linseed                 281
Small millets           210
Ragi                    206
Name: Crop, dtype: int64

In [88]:
df_raw['District_Name'].value_counts()

PUNE          482
AHMEDNAGAR    481
SATARA        467
PARBHANI      455
LATUR         455
BEED          453
NANDED        449
OSMANABAD     448
NASHIK        446
SOLAPUR       445
SANGLI        442
JALNA         425
AURANGABAD    421
DHULE         405
KOLHAPUR      397
BULDHANA      391
JALGAON       389
AMRAVATI      388
NAGPUR        380
HINGOLI       371
NANDURBAR     370
YAVATMAL      347
AKOLA         346
WARDHA        318
CHANDRAPUR    317
WASHIM        299
GADCHIROLI    299
BHANDARA      281
THANE         259
RAIGAD        227
GONDIA        224
RATNAGIRI     206
SINDHUDURG    199
PALGHAR        11
Name: District_Name, dtype: int64

In [89]:
df_raw['Season'].value_counts()

Kharif        7119
Rabi          3792
Summer        1011
Whole Year     371
Name: Season, dtype: int64

In [90]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_raw['Season'] = le.fit_transform(df_raw['Season'])
df_raw['Season'].unique()

array([0, 1, 2, 3])

In [91]:
# Getting the mappings on LabelEncoder
le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_name_mapping)

{'Kharif': 0, 'Rabi': 1, 'Summer': 2, 'Whole Year': 3}

In [92]:
df_raw.head()

  District_Name  Crop_Year  Season       Crop      Area  Production
1    AHMEDNAGAR     1997.0       0  Arhar/Tur   17600.0      6300.0
2    AHMEDNAGAR     1997.0       0      Bajra  274100.0    152800.0
3    AHMEDNAGAR     1997.0       0       Gram   40800.0     18600.0
4    AHMEDNAGAR     1997.0       0      Jowar     900.0      1100.0
5    AHMEDNAGAR     1997.0       0      Maize    4400.0      4700.0

## Trying yield prediction for Pune

##### Note: This is just a trial, if it succeed then do this steps for every state and district available

In [93]:
df_pune = df_raw[df_raw['District_Name'] == "PUNE"]

In [94]:
df_pune.head()

     District_Name  Crop_Year  Season       Crop      Area  Production
8830          PUNE     1997.0       0  Arhar/Tur    3900.0      2900.0
8831          PUNE     1997.0       0      Bajra  135700.0    112000.0
8832          PUNE     1997.0       0       Gram   43400.0     26100.0
8833          PUNE     1997.0       0      Jowar    4200.0      5200.0
8834          PUNE     1997.0       0      Maize    4400.0      4700.0

In [95]:
df_pune.drop(['District_Name'], axis=1, inplace=True)

c:\users\atharava\anaconda3\envs\agriai\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [96]:
df_pune.reset_index(drop=True, inplace=True)
df_pune.head()

   Crop_Year  Season       Crop      Area  Production
0     1997.0       0  Arhar/Tur    3900.0      2900.0
1     1997.0       0      Bajra  135700.0    112000.0
2     1997.0       0       Gram   43400.0     26100.0
3     1997.0       0      Jowar    4200.0      5200.0
4     1997.0       0      Maize    4400.0      4700.0

In [97]:
df_pune['Crop'].value_counts()

Sunflower              47
Maize                  46
Jowar                  34
Sesamum                33
Groundnut              31
Wheat                  18
Rice                   18
Sugarcane              18
Moong(Green Gram)      18
Ragi                   18
Arhar/Tur              18
Gram                   18
Bajra                  18
Soyabean               17
Safflower              17
Urad                   17
Niger seed             16
Rapeseed &Mustard      13
Other  Rabi pulses     12
Castor seed            12
Cotton(lint)           12
Other Kharif pulses    11
Linseed                10
Small millets          10
Name: Crop, dtype: int64

### One Hot Encoding crops

In [103]:
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder()
df_pune['Crop'] = oe.fit_transform(np.array(df_pune['Crop'].reshape(-1,1)))

AttributeError: 'Series' object has no attribute 'reshape'