In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PATH = 'DATA/Maharashtra.csv'
df_raw = pd.read_csv(PATH)

In [3]:
df_raw.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Maharashtra,AHMEDNAGAR,1997,Autumn,Maize,1.0,1113.0
1,Maharashtra,AHMEDNAGAR,1997,Kharif,Arhar/Tur,17600.0,6300.0
2,Maharashtra,AHMEDNAGAR,1997,Kharif,Bajra,274100.0,152800.0
3,Maharashtra,AHMEDNAGAR,1997,Kharif,Gram,40800.0,18600.0
4,Maharashtra,AHMEDNAGAR,1997,Kharif,Jowar,900.0,1100.0

In [6]:
df_raw.drop(['State_Name'], axis=1, inplace=True)

In [7]:
df_raw.head()

  District_Name  Crop_Year       Season       Crop      Area  Production
0    AHMEDNAGAR       1997  Autumn           Maize       1.0      1113.0
1    AHMEDNAGAR       1997  Kharif       Arhar/Tur   17600.0      6300.0
2    AHMEDNAGAR       1997  Kharif           Bajra  274100.0    152800.0
3    AHMEDNAGAR       1997  Kharif            Gram   40800.0     18600.0
4    AHMEDNAGAR       1997  Kharif           Jowar     900.0      1100.0

In [13]:
print("Unique crops: ",df_raw['Crop'].unique())
print("\nNumber of unique crops: ", df_raw['Crop'].nunique())

Unique crops:  ['Maize' 'Arhar/Tur' 'Bajra' 'Gram' 'Jowar' 'Moong(Green Gram)'
 'Pulses total' 'Ragi' 'Rice' 'Sugarcane' 'Total foodgrain' 'Urad'
 'Other  Rabi pulses' 'Wheat' 'Cotton(lint)' 'Castor seed' 'Groundnut'
 'Niger seed' 'Other Cereals & Millets' 'Other Kharif pulses' 'Sesamum'
 'Soyabean' 'Sunflower' 'Linseed' 'Rapeseed &Mustard' 'Safflower'
 'Small millets' 'other oilseeds' 'Banana' 'Grapes' 'Mango' 'Onion'
 'Tomato' 'Tobacco']

Number of unique crops:  34

### Getting frequency of crops

In [15]:
df_raw['Crop'].value_counts()

Maize                      1056
Sunflower                   960
Jowar                       875
Groundnut                   869
Sesamum                     673
Rice                        654
Moong(Green Gram)           573
Arhar/Tur                   570
Urad                        550
Gram                        548
Wheat                       518
Soyabean                    477
Cotton(lint)                465
Sugarcane                   456
Bajra                       386
Rapeseed &Mustard           367
Other Kharif pulses         342
Safflower                   339
Niger seed                  323
Other  Rabi pulses          306
Castor seed                 296
Linseed                     281
Small millets               210
Ragi                        206
Other Cereals & Millets      86
other oilseeds               43
Mango                        31
Tomato                       30
Total foodgrain              29
Pulses total                 29
Banana                       28
Onion                        26
Grapes                       24
Tobacco                       2
Name: Crop, dtype: int64

In [16]:
df_raw['District_Name'].value_counts()

AHMEDNAGAR    495
PUNE          495
SATARA        478
PARBHANI      467
LATUR         466
BEED          464
OSMANABAD     461
NANDED        461
NASHIK        459
SOLAPUR       458
SANGLI        452
JALNA         435
AURANGABAD    432
DHULE         418
KOLHAPUR      409
BULDHANA      403
JALGAON       402
AMRAVATI      400
NAGPUR        388
HINGOLI       377
NANDURBAR     377
YAVATMAL      357
AKOLA         355
WARDHA        328
CHANDRAPUR    325
WASHIM        307
GADCHIROLI    306
BHANDARA      288
THANE         268
RAIGAD        236
GONDIA        229
RATNAGIRI     213
SINDHUDURG    207
PALGHAR        11
MUMBAI          1
Name: District_Name, dtype: int64

In [17]:
df_raw['Season'].value_counts()

Kharif         7275
Rabi           3824
Summer         1011
Whole Year      511
Autumn            7
Name: Season, dtype: int64